<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>es_face</title>
		<script src="static/react/react.development.js"></script>
		<script src="static/react/react-dom.development.js"></script>

		<script src="static/react/babel.min.js"></script>
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>

<script language="javascript">
<!--
document.write('\<script type="text/babel" src="static/setup.js?killcache=' + Math.random() + '"\>\</script\>');
document.write('\<script type="text/babel" src="static/collection.js?killcache=' + Math.random() + '"\>\</script\>');
document.write('\<script type="text/babel" src="static/index.js?killcache=' + Math.random() + '"\>\</script\>');
//-->
</script>
